.home {
  align-items: center;
  width: 750;
  margin-top: 50;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.logo {
  width: 300;
  height: 300;
  margin-left: 225;
  src: 'http://localhost:3333/rax.png';
}

.title {
  font-size: 35;
  font-weight: bold;
  text-align: center;
  color: #ba2626;
  width: 750;
  height: 50;
  margin-top: 300;
}

.info {
  font-size: 36;
  text-align: center;
  color: #222222;
  width: 750;
  height: 50;
  margin-top: 350;
}
